@mixin size($width,$height){
	width: $width;
	height: $height;
}
@mixin wAlign(
	$width,
	$top: 0,
	$bottom: 0
){
	width: $width;
	margin: $top auto $bottom;
}

@mixin fcw(
	$size: null,
	$color: null,
	$weight: null
){
	@if($size){
		font-size: $size;
	}
	@if($color){
		color: $color;
	}
	@if($weight){
		font-weight: $weight;
	}
}

@mixin pos(
	$top,
	$left,
	$position: absolute,
	$right: null,
	$bottom: null
){
	position: $position;
	@if($top){
		top: $top;
	}
	@if($left){
		left: $left;
	}
	@if($right){
		right: $right;
	}
	@if($bottom){
		bottom: $bottom;
	}
}
@mixin fcw(
	$size: null,
	$color: null,
	$weight: null
){
	@if($size){
		font-size: $size;
	}
	@if($color){
		color: $color
	}
	@if($weight){
		font-weight: $weight;
	}
}

body,html{
	@include size(100%,100%);
}

.tips{
	text-align: center;
	@include fcw(0.3rem,red);
	margin-top: 0.4rem;
	overflow: hidden;
}

.file-select{
	height: 0;
	padding-bottom: 50%;
	border: 1px solid #ccc;
	@include wAlign(50%,7%);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	text-align: center;

	input{
		display: block;
		@include size(100%,100%);
		opacity: 0;
		cursor: pointer;
		@include pos(0,0);
	}

	&:before{
		@include pos(50%,10%);
		@include size(80%,0);
		border-bottom: 1px solid #ccc;
		margin-top: -0.5px;
		content: '';
	}
	&:after{
		@include pos(10%,50%);
		@include size(0,80%);
		border-left: 1px solid #ccc;
		margin-left: -0.5px;
		content: '';
	}
}

.modal{
	z-index: 1;
	@include pos(0,0,fixed);
	@include size(100%,100%);
	display: none;

	.view{
		@include size(100%,80%);
		background: rgba(0,0,0,0.5);
		z-index: 2;
		overflow: hidden;
		text-align: center;
		position: relative;

		canvas{
			@include pos(0,0,absolute,0,0);
			margin: auto;
		}
	}
	
	.btns{
		@include size(100%,20%);
		text-align: center;
		box-sizing: border-box;
		padding: 0 0.5rem;
		overflow: hidden;
		margin: 0.2rem auto 0;
		
		.btn{
			cursor: pointer;
			border-radius: 3px;
			padding: 10px 20px;
			display: inline-block;
			@include fcw(0.2rem,#fff);
			background: green;
			margin-top: 0.2rem;
			user-select: none;
			margin: 0.1rem 0.25rem;

			&:hover{
				background: #025e02;
			}
		}
	}

}