@mixin fcw(
	$size: null,
	$color: null,
	$weight: null
){
	@if($size){
		font-size: $size;
	}
	@if($color){
		color: $color;
	}
	@if($weight){
		font-weight: $weight;
	}
}


.bg-title{
	text-align: center;
	margin-top: 30px;	
	@include fcw(16px,#333);
}

%width{
	width:100%;
	max-width: 1200px;
}

.imgbox{
	@extend %width;
	text-align: center;
	margin: 15px 0 50px 0;
}

table{ 
	@extend %width; 
	background:#fff;
	border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
	margin: 10px auto 0;

	th,td{
		border: 1px solid #ddd;
		padding: 10px;
	}

	td.center{
		text-align: center;
	}

	thead{
		background: #39A4DC;
		color: #fff;

		th{
			text-align: center;
		}
	}
}
